# Imports #

In [39]:
import pandas as pd
#from openai import OpenAI
from collections.abc import MutableMapping
import json

# Cleaning the MTurk Data #

In [40]:
data = pd.read_csv("/Users/udaymalik/Documents/DATA25900/Final Project/data-ethics-final-project/MTurk Respondant Data/race_testing_1.csv")

data.dropna(subset = ["Submitted Data"], inplace = True)

json_data_list = list(data["Submitted Data"].values)

type(json_data_list[0])

for idx, json_data in enumerate(json_data_list, start=1):
    print(type(json_data))
data

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

,ParticipantId,StartTime (America/Chicago),CompletionTime (America/Chicago),CompletionType,CompletionCode,Payment,Bonus,Fees,Status,Task Data,...,Education,Sex,Occupation Field,Relationship/Marital Status,Political Party,Gender,Country Of Residence,Household Income,Race,Employment Status
0,AA3A6D4244DF4C538D320436A8D9E95B,05/05/2024 12:18:15 AM,05/05/2024 12:23:58 AM,Template,NaN,0,0,0,Pending,"{""RowData"":[{""CellData"":""3.0"",""ColumnHeader"":""...",...,"Bachelor's degree (for example: BA, AB, BS)",Female,Marketing and Sales,Married,Republican,Woman,United States,"$100,000-$124,999",White,Part-time
2,4227771CBB974D8DBE299B31F11DF2FE,05/05/2024 12:19:55 AM,05/05/2024 12:22:40 AM,Template,NaN,0,0,0,Pending,"{""RowData"":[{""CellData"":""3.0"",""ColumnHeader"":""...",...,"Some college, but no degree",Male,Social Sciences,Single,Democrat,Man,United States,"Less than $10,000",White,Student
3,D9F22A70D01245B78439FC66BF61E39F,05/05/2024 12:27:50 AM,05/05/2024 12:32:19 AM,Template,NaN,0,0,0,Pending,"{""RowData"":[{""CellData"":""3.0"",""ColumnHeader"":""...",...,"Bachelor's degree (for example: BA, AB, BS)",Female,Business Management & Administration,Married,Independent,Woman,United States,"$200,000-$224,999",White,Full-time
4,2FA543FD1C31419CB8107888D3E03B01,05/05/2024 12:30:50 AM,05/05/2024 12:33:07 AM,Template,NaN,0,0,0,Pending,"{""RowData"":[{""CellData"":""3.0"",""ColumnHeader"":""...",...,No formal education,Male,I’d Rather Not Say,Single,Something else,Man,United States,"$30,000-$39,999",White,"Not in paid work (e.g., homemaker, disabled)"
5,45CBE4E615BE45BCAD84E0992A364627,05/05/2024 12:34:31 AM,05/05/2024 12:40:56 AM,Template,NaN,0,0,0,Pending,"{""RowData"":[{""CellData"":""3.0"",""ColumnHeader"":""...",...,"Some college, but no degree",Female,Other,In a relationship,Democrat,Woman,United States,"$70,000-$79,999",White,Student

In [45]:
#This method flattens the JSON dictionary

def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = parent_key + sep + k if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

# Combine all JSON data into a single dictionary
combined_data = {}
for idx, json_data in enumerate(json_data_list, start=1):
    data = json.loads(json_data)
    flat_data = flatten_dict(data)
    combined_data.update({f'data_{idx}_{key}': value for key, value in flat_data.items()})

new_dic = {}

for k, v in combined_data.items():

    element_lis = k.split("_")
    values_list = new_dic.get(element_lis[4], [])

    # Append the current value to the list of values
    values_list.append(v)

     # Update the dictionary with the list of values for the attribute
    new_dic[element_lis[4]] = values_list

new_dic

{'age': ["50's", 'mid 40s', '32', 'mid-40s', 'Mid 40s'],
 'jaw': ['triangle shaped, not strongly defined ',
  'Wide',
  'normal',
  'round jaw',
  'Oval'],
 'eyes': ['almond shaped, brown ',
  'Big nose',
  'dark, slanted',
  'brown',
  'Small and hazel, hooded'],
 'hair': ['straight gray',
  'Big brown eyebrows',
  'appears to be straight',
  'thinning black',
  'Pulled back, tightly coiled, curly, dark brown'],
 'nose': ['long and pointy, large nostrils',
  'Wide and ',
  'wide',
  'pointy nose',
  'Short bridge, flared nostrils, flat base'],
 'race': ['white', 'black', 'asian', 'middle_eastern_south_asian', 'hispanic'],
 'beard': ['no', 'Non visible', 'none', 'none', 'None'],
 'gender': ['male', 'male', 'female', 'male', 'female'],
 'eyebrows': ['slightly bushy gray',
  'Brown but looks black',
  'thin',
  'blaack',
  'Thin dark brown and arched'],
 'expression': ['smiling', 'smiling', 'smiling', 'smiling', 'smiling'],
 'additionalInfo': ['Slight ',
  'Nothing.\n\n\n',
  "Asian woman appears to be in her 30's and is smiling. Plain looking, appears to be pleasant. Looks smart for some reason.",
  'Wearing red lipstick, wearing an earring']}

In [48]:
for k, v in new_dic.items():
    print(k)
    print(v)


#submitted_df = pd.DataFrame.from_dict(new_dic)
#submitted_df

age
["50's", 'mid 40s', '32', 'mid-40s', 'Mid 40s']
jaw
['triangle shaped, not strongly defined ', 'Wide', 'normal', 'round jaw', 'Oval']
eyes
['almond shaped, brown ', 'Big nose', 'dark, slanted', 'brown', 'Small and hazel, hooded']
hair
['straight gray', 'Big brown eyebrows', 'appears to be straight', 'thinning black', 'Pulled back, tightly coiled, curly, dark brown']
nose
['long and pointy, large nostrils', 'Wide and ', 'wide', 'pointy nose', 'Short bridge, flared nostrils, flat base']
race
['white', 'black', 'asian', 'middle_eastern_south_asian', 'hispanic']
beard
['no', 'Non visible', 'none', 'none', 'None']
gender
['male', 'male', 'female', 'male', 'female']
eyebrows
['slightly bushy gray', 'Brown but looks black', 'thin', 'blaack', 'Thin dark brown and arched']
expression
['smiling', 'smiling', 'smiling', 'smiling', 'smiling']
additionalInfo
['Slight ', 'Nothing.\n\n\n', "Asian woman appears to be in her 30's and is smiling. Plain looking, appears to be pleasant. Looks smart for some reason.", 'Wearing red lipstick, wearing an earring']

In [ ]:
#Read dataset of Mturk Image Responses

data = pd.read_csv("/Users/udaymalik/Documents/DATA25900/Final Project/data-ethics-final-project/MTurk Respondant Data/race_testing_1.csv")

#Iterate over each row of the dataset

gpt_user_prompts = []

for index, row in data.iterrows():
    gpt_user_prompts += f"Generate a realistic face with the following attributes:\n\
- Gender: {row['Gender']}\n\
- Age: {row['Age']}\n\
- Skin Color: {row['Skin Color']}\n\
- Hair: {row['Hair']}\n\
- Eyebrows: {row['Eyebrows']}\n\
- Eyes: {row['Eyes']}\n\
- Nose: {row['Nose']}\n\
- Jaw: {row['Jaw']}\n\
- Beard: {row['Beard']}\n\
- Additional Information: {row['Additional Information']}"

In [ ]:

client = OpenAI()

#Create list containing URLs for images
image_urls = []

#For loop to generate image for each user prompt
for gpt_user_prompt in gpt_user_prompts:
  response = client.images.generate(
    model="dall-e-3",
    prompt= gpt_user_prompt,
    size="1024x1024",
    quality="standard",
    n=1,
  )

  image_urls += response.data[0].url